.profile-container {
          background-color: white;
          border-radius: 6px;
          width: 100%;
          display: inline-block;
}

.profile-name {
          line-height: 18px;
          padding: 20px;
}

.profile-name h1 {
          font-size: 20px;
          font-weight: bold;
          text-align: center;
}

.job-title h2 {
          font-size: 15px;
          color:#777;
          text-align: center;
}

.profile-pic {
margin-left:1px;
          
}

.profile-pic img {
          padding: 5px;
          width:100%;
          
}

.profile-info p {
          padding: 5px;
          font-size:15px ;
          text-align: center;
}

.profile-info H1 {
          font-size: 20px;
          text-align: center;
}

.language-icons {
          display: flex;

          
}         
.language-icons img {
          margin-left: 1px;
          padding:5px;
          width:16%;
        
}
